.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topSection {
  width: 1200px;
  height: 300px;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 36px;
  color: #575757;
}

.role {
  font-family: 'Montserrat';
  font-size: 64px;
  font-weight: 800;
}

.contact {
  align-self: flex-end;
}

.bottomSection {
  max-width: 1200px;
  display: flex;
 justify-content: space-between;
  gap: 32px;
  margin-top: 40px;
  margin-bottom: 120px;
}

.profileImage {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}

.introduction {
  font-size: 18px;
  max-width: 650px;
}

